<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

# Natural Language Processing (NLP)
## *Data Science Unit 4 Sprint 1 Assignment 1*

Your goal in this assignment: find the attributes of the best & worst coffee shops in the dataset. The text is fairly raw: dates in the review, ~~extra words in the `star_rating` column~~, etc. You'll probably want to clean that stuff up for a better analysis. 

Analyze the corpus of text using text visualizations of token frequency. Try cleaning the data as much as possible. Try the following techniques: 
- Lemmatization
- Custom stopword removal

Keep in mind the attributes of good tokens. Once you have a solid baseline, layer in the star rating in your visualization(s). Key part of this assignment - produce a write-up of the attributes of the best and worst coffee shops. Based on your analysis, what makes the best the best and the worst the worst. Use graphs and numbesr from your analysis to support your conclusions. There should be plenty of markdown cells! :coffee:

In [ ]:
from IPython.display import YouTubeVideo

YouTubeVideo('Jml7NVYm8cs')

In [ ]:
%pwd

In [1]:
import pandas as pd

# url = "https://raw.githubusercontent.com/LambdaSchool/DS-Unit-4-Sprint-1-NLP/master/module1-text-data/data/yelp_coffeeshop_review_data.csv"

shops = pd.read_csv('~/Desktop/DS-Unit-4-Sprint-1-NLP/module1-text-data/data/yelp_coffeeshop_review_data.csv')

shops.head()

,coffee_shop_name,full_review_text,star_rating
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the atm...,5.0 star rating
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, Ambia...",4.0 star rating
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in Brunch Spots ...,4.0 star rating
3,The Factory - Cafe With a Soul,11/25/2016 Very cool decor! Good drinks Nice ...,2.0 star rating
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are located within ...,4.0 star rating

### Clean up star rating column

In [2]:
# look at star rating column
shops['star_rating'].value_counts()

 5.0 star rating     3780
 4.0 star rating     2360
 3.0 star rating      738
 2.0 star rating      460
 1.0 star rating      278
Name: star_rating, dtype: int64

In [3]:
# clean up star rating column - remove words
clean_shops = shops
clean_shops['star_rating'] = clean_shops['star_rating'].apply(lambda x: x.strip('star rating'))
clean_shops['star_rating'].value_counts()

5.0    3780
4.0    2360
3.0     738
2.0     460
1.0     278
Name: star_rating, dtype: int64

In [4]:
clean_shops.head()

,coffee_shop_name,full_review_text,star_rating
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the atm...,5.0
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, Ambia...",4.0
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in Brunch Spots ...,4.0
3,The Factory - Cafe With a Soul,11/25/2016 Very cool decor! Good drinks Nice ...,2.0
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are located within ...,4.0

### Clean up text review column

In [7]:
# look at full review text column
clean_shops['full_review_text'].describe()

count                                                  7616
unique                                                 6915
top        11/25/2016 1 check-in Love love loved the atm...
freq                                                      4
Name: full_review_text, dtype: object

In [8]:
# remove the dates from column
# help from https://stackoverflow.com/questions/41719259/how-to-remove-numbers-from-string-terms-in-a-pandas-dataframe
import re
clean_shops['full_review_text'] = clean_shops['full_review_text'].str.replace(r'\d+','')
# clean_shops['full_review_text'] = clean_shops['full_review_text'].apply(lambda x: x.strip('-'))

# clean_shops['full_review_text'] = clean_shops['full_review_text'].apply(lambda x: x.replace('d\+', ''))
clean_shops.head()

,coffee_shop_name,full_review_text,star_rating
0,The Factory - Cafe With a Soul,// check-in Love love loved the atmosphere! ...,5
1,The Factory - Cafe With a Soul,"// Listed in Date Night: Austin, Ambiance in ...",4
2,The Factory - Cafe With a Soul,// check-in Listed in Brunch Spots I loved t...,4
3,The Factory - Cafe With a Soul,// Very cool decor! Good drinks Nice seating ...,2
4,The Factory - Cafe With a Soul,// check-in They are located within the Nort...,4

In [14]:
clean_shops['full_review_text'] = clean_shops['full_review_text'].apply(lambda x: x.strip('//'))

## How do we want to analyze these coffee shop tokens? 

- Overall Word / Token Count
- View Counts by Rating 
- *Hint:* a 'bad' coffee shops has a rating betweeen 1 & 3 based on the distribution of ratings. A 'good' coffee shop is a 4 or 5.

In [15]:
# I do not know why I can not get this cleaned
clean_shops['full_review_text'].describe()

count                                                  7616
unique                                                 6915
top        //  check-in Listed in  - The Third Time is a...
freq                                                      4
Name: full_review_text, dtype: object

In [23]:
re.sub('[^a-zA-Z 0-9]', '', clean_shops['full_review_text'][0])

'   checkin Love love loved the atmosphere Every corner of the coffee shop had its own style and there were swings I ordered the matcha latte and it was muy fantastico Ordering and getting my drink were pretty streamlined I ordered on an iPad which included all beverage selections that ranged from coffee to wine desired level of sweetness and a checkout system I got my latte within minutes  I was hoping for a typical heart or feather on my latte but found myself listing out all the possibilities of what the art may be Any ideas '

In [24]:
# Don't understand why this does not work - but the cell above does?
clean_shops['full_review_text'] = re.sub('[^a-zA-Z 0-9]', '', clean_shops['full_review_text'])

TypeError: expected string or bytes-like object

In [ ]:
# trying function from lecture

In [ ]:
def tokenize(text):
    """Parses a string into a list of semantic units (words)

    Args:
        text (str): The string that the function will tokenize.

    Returns:
        list: tokens parsed out by the mechanics of your choice
    """
    
    tokens = re.sub('[^a-zA-Z 0-9]', '', text)
    tokens = tokens.lower().split()
    
    return tokens

In [27]:
# reviews = clean_shops['full_review_text']
# tokenize(reviews)


tokenize(clean_shops['full_review_text'])

TypeError: expected string or bytes-like object

## Can visualize the words with the greatest difference in counts between 'good' & 'bad'?

Couple Notes: 
- Rel. freq. instead of absolute counts b/c of different numbers of reviews
- Only look at the top 5-10 words with the greatest differences

## Stretch Goals

* Analyze another corpus of documents - such as Indeed.com job listings ;).
* Play with the Spacy API to
 - Extract Named Entities
 - Extracting 'noun chunks'
 - Attempt Document Classification with just Spacy
 - *Note:* This [course](https://course.spacy.io/) will be of interesting in helping you with these stretch goals. 
* Try to build a plotly dash app with your text data